#container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

section #menu {
  width: 80%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#primary-nav ul {
  background-color: grey;
}

#primary-nav li {
  display: inline;
  margin-left: 0;
  padding-right: 5%;
}

.menu-item-price:before {
  content: "$";
}

#menu {
  width: 45%;
  float: right;
  display: inline-block;
}

#announcements {
  display: inline-block;
  float: left;
  margin: auto;
  /*border: 5px solid black;*/
  width: 45%;
}

#page-footer {
  clear: both;  
}

img {
    width: 200px;
    height: 200px;
    background-color: #0000FF;
    -webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition:width 2s, height 2s, background-color 2s, transform 2s;
}
img:hover {
    background-color: #FFCCCC;
    width:200px;
    height:200px;
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
} 
 
